mixin generate-items(n)
  -i = 0
  while i < n
    div(class='taffy-item-' + n)
      .pill
    -i++

mixin generate-grids(n)
  -i = 0
  while i <= n
    .grid
      +generate-items(i)
    -i++

doctype
html
  head
    title Taffy Demo
    link(href='index.css' rel='stylesheet' type='text/css')
    meta(name='viewport' content='width=device-width initial-scale=1 user-scalable=no')

  body
    +generate-grids(12)
