doctype html

html
  head
    link(href='index.css' type='text/css' rel='stylesheet')

  body

    .grid
      .item-2: .pill
      .item-2: .pill
      .item-2: .pill
      .item-2: .pill
      .item-2: .pill


    p hello
