.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 75em;
  margin: auto;
}

.grid> .taffy-item-1,
.grid> .taffy-item-2,
.grid> .taffy-item-3,
.grid> .taffy-item-4,
.grid> .taffy-item-5,
.grid> .taffy-item-6,
.grid> .taffy-item-7,
.grid> .taffy-item-8,
.grid> .taffy-item-9,
.grid> .taffy-item-10,
.grid> .taffy-item-11,
.grid> .taffy-item-12 {
  width: calc(100% / 1);
}

@media (min-width: 12.5em) {
  .grid> .taffy-item-2,
  .grid> .taffy-item-3,
  .grid> .taffy-item-4,
  .grid> .taffy-item-5,
  .grid> .taffy-item-6,
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 2);
  }
}

@media (min-width: 18.75em) {
  .grid> .taffy-item-3,
  .grid> .taffy-item-4,
  .grid> .taffy-item-5,
  .grid> .taffy-item-6,
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 3);
  }
}

@media (min-width: 25em) {
  .grid> .taffy-item-4,
  .grid> .taffy-item-5,
  .grid> .taffy-item-6,
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 4);
  }
}

@media (min-width: 31.25em) {
  .grid> .taffy-item-5,
  .grid> .taffy-item-6,
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 5);
  }
}

@media (min-width: 37.5em) {
  .grid> .taffy-item-6,
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 6);
  }
}

@media (min-width: 43.75em) {
  .grid> .taffy-item-7,
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 7);
  }
}

@media (min-width: 50em) {
  .grid> .taffy-item-8,
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 8);
  }
}

@media (min-width: 56.25em) {
  .grid> .taffy-item-9,
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 9);
  }
}

@media (min-width: 62.5em) {
  .grid> .taffy-item-10,
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 10);
  }
}

@media (min-width: 68.75em) {
  .grid> .taffy-item-11,
  .grid> .taffy-item-12 {
    width: calc(100% / 11);
  }
}

@media (min-width: 75em) {
  .grid> .taffy-item-12 {
    width: calc(100% / 12);
  }
}

body {
  background-color: rgba(0, 191, 64, 0.375);
}

.grid+ .grid {
  margin-top: 1em;
}

.pill {
  min-height: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: #fff;
}
